<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .error-container {
            height: 90vh;
            width: 90vw;
            margin: 0;
            padding: 0;
        }

        .error-message-container {
            min-width: 500px;
        }
    </style>
    <!--    css -->
    <title>Document</title>
</head>
<body>
<div class="error-container">
    <div>
        <h1 th:text="${status}"></h1>
    </div>
    <div class="error-message-container">
        <h4 th:text="${error}"></h4>
        <h4 th:text="${message}"></h4>
    </div>
</div>
</body>
</html>